@model IEnumerable<Mixi.Models.BillDetail>

@{
    ViewData["Title"] = "BillDetailsManager";
    ViewBag.Title = "BillDetailsManager";
    ViewBag.ShowBanner = false;
}

<h1>BillDetailsManager</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Tên sản phẩm
            </th>
            <th>
                Ảnh sản phẩm
            </th>
            <th>
                Số lượng
            </th>
            <th>
                Giá
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.product.Name)
            </td>
                <td>
                    <img src="/Image/@item.product.Images.LinkImage" style="width:100px">
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
        </tr>
}
    </tbody>
</table>
