@model Mixi.Models.Image

@{
    ViewData["Title"] = "Create";
    ViewBag.Title = "Create";
    ViewBag.ShowBanner = false;
}

<h1>Create</h1>

<h4>Image</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinkImage" class="control-label"></label>
                <input type="file" id="fileInput" name="formFile" asp-for="LinkImage" class="form-control" accept="Image/*" multiple />
                <span asp-validation-for="LinkImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ShowlistImage" class="textasp">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
    var input = document.getElementById('fileInput');
    input.addEventListener('change', function() {
        // Kiểm tra số lượng tệp tin đã chọn
        if (input.files.length > 5) {
            alert('Bạn chỉ được phép chọn tối đa 5 ảnh.');
            input.value = ''; // Xóa tất cả các tệp tin đã chọn
        }
    });
</script>

}
