@model IEnumerable<Mixi.Models.Product>
@{
    ViewData["Title"] = "Home Page";
    ViewBag.Title = "Home Page";
    ViewBag.ShowBanner = true;
}

<div class="text-center">
    <div class="container text-center" style="padding: 0px;">
        <div style="font-size:16px;margin:50px 0px 50px 0px">
            <p style ="font-weight:700; font-size:39px; margin-bottom:20px">BÁN CHẠY NHẤT</p>
            <a type="button" class="btn btn-outline-primary" asp-controller="Home" asp-action="Show" style="text-decoration:none">XEM TẤT CẢ</a>
        </div>
        <div class="row align-items-start">
            @foreach (var item in Model)
            {
                <div class="col-3 col-md-3">
                    <div class="anh" style="position: relative;">
                        <div class="hot">
                            <img src="~/Image/bookmark4.png" alt="">
                            @*<p class="label" ng-if="!ass.giamgia">{{ass.trangthai}} </p>*@

                            @if (item.SalePrice > 0)
                            {
                                <p class="label">SALE</p>
                            }
                            else
                            {
                                <p class="label">NEW</p>
                            }

                        </div>
                        @*<img src="~/Image/sp8.png" class="img-thumbnail" alt="...">*@
                        <image src="@Url.Content(item.Images.LinkImage1)" style="width:300px;height:400px">
                    </div>
                    <p style="margin-bottom:-5px">
                        @item.Category.Name
                        @*@Html.ActionLink(item.Category.Name, "Show", new {  @id=item.CategoryID  })*@
                    </p>
                    @Html.ActionLink(item.Name, "Details", new {  id=item.ProductID  }) <br>
                    <img src="~/Image/stars4.png" alt="" width="100px"><br>
                    <h5>@string.Format("{0:N0}đ", item.Price)</h5> <br>
                </div>
            }
        </div>
        <div class="row align-items-start">
            <div class="col">
                <video src="~/Image/intro.mp4" class="object-fit-md-fill" autoplay muted loop height="450" width="1180"
                       style="padding-top: 50px;"></video>
            </div>
            <a href=""
               style="text-decoration: none; color: black; font-size: 40px; font-weight: bold; padding: 50px;">Feedback</a>
        </div>
    </div>
</div>
