@model IEnumerable<Mixi.Models.Product>
@{
    ViewData["Title"] = "Home Page";
    ViewBag.Title = "Home Page";
    ViewBag.ShowBanner = true;
}

<div class="text-center">
    <div class="container text-center" style="padding: 0px;">
        <div class="row align-items-start">
            @foreach (var item in Model)
            {
                <div class="col-3 col-md-3">
                    <div class="anh" style="position: relative;">
                        <div class="hot">
                            <img src="~/Image/bookmark4.png" alt="">
                            @*<p class="label" ng-if="!ass.giamgia">{{ass.trangthai}} </p>*@
                            
                            @if (item.SalePrice > 0)
                            {
                                <p class="label">SALE</p>
                            }else{
                                <p class="label">NEW</p>
                            }
                            
                        </div>
                        @*<img src="~/Image/sp8.png" class="img-thumbnail" alt="...">*@
                        <image src="@Url.Content(item.Images.LinkImage1)" style="width:300px;height:400px">
                    </div>
                    <p style="margin-bottom:-10px">@Html.DisplayFor(modelItem => item.Category.Name)</p>
                    <a class="text">@Html.ActionLink(item.Name, "Details", new {  id=item.ProductID  })</a><br>
                    <img src="~/Image/stars4.png" alt="" width="100px"><br>
                    <div style="display: inline-flex;">
                        <h5>@Html.DisplayFor(modelItem => item.Price)</h5>
                        @*<h5 ng-if="ass.giamgia">
                    <del>{{ass.giaban | currency: 'đ':0 }}</del><h5 style="color: red;">{{ass.giamgia | currency: 'đ':0 }}</h5>
                    </h5>*@
                    </div>
                </div>
            }
        </div>
        <div class="row align-items-start">
            <div class="col">
                <video src="~/Image/intro.mp4" class="object-fit-md-fill" autoplay muted loop height="450" width="1180"
                       style="padding-top: 50px;"></video>
            </div>
            <a href=""
               style="text-decoration: none; color: black; font-size: 40px; font-weight: bold; padding: 50px;">Feedback</a>
        </div>
    </div>
</div>
