@model Mixi.Models.User

@{
    ViewData["Title"] = "Register";
    ViewBag.Title = "Register";
    ViewBag.ShowBanner = false;
}
<section class="vh-100 bg-image">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <form asp-action="Register">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5" style="font-size: 45px; font-weight: bold;">
                                    Đăng ký
                                </h2>
                                <div class ="row align-items-start">
                                    <div class="col-6">
                                        
                                        <div class="form-outline mb-4">
                                            <label asp-for="FirstName" class="control-label"></label>
                                            <input asp-for="FirstName" class="form-control form-control-lg" />
                                        </div>
                                        <div class="form-outline mb-4">
                                            <label asp-for="LastName" class="control-label"></label>
                                            <input asp-for="LastName" class="form-control form-control-lg" />
                                        </div>
                                        <div class="form-outline mb-4">
                                            <label asp-for="Address" class="control-label"></label>
                                            <input asp-for="Address" class="form-control form-control-lg" />
                                        </div>
                                        <div class="form-outline mb-4">
                                            <label asp-for="PhoneNumber" class="control-label"></label>
                                            <input asp-for="PhoneNumber" class="form-control form-control-lg" />
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        
                                        <div class="form-outline mb-4">
                                            <label asp-for="Email" class="control-label"></label>
                                            <input asp-for="Email" class="form-control form-control-lg" />
                                            @if (TempData["email"] != null)
                                            {
                                                <div id="email" class="alert @TempData["AlertType"] hide" role="alert" style="color:red">
                                            @TempData["email"]
                                            </div>
                                            }
                                        </div>
                                        <div class="form-outline mb-4">
                                            <label asp-for="Account" class="control-label"></label>
                                            <input asp-for="Account" class="form-control form-control-lg" />
                                            <span asp-validation-for="Account" class="text-danger"></span>
                                            @if (TempData["acc"] != null)
                                            {
                                            <div id="acc" class="alert @TempData["AlertType"] hide" role="alert" style="color:red">
                                            @TempData["acc"]
                                            </div>
                                            }
                                        </div>
                                        <div class="form-outline mb-4">
                                            <label asp-for="Password" class="control-label"></label>
                                            <input asp-for="Password" class="form-control form-control-lg" />
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                        <div class="form-outline mb-4">
                                            <label asp-for="Status" class="control-label"></label>
                                            <input asp-for="Status" class="form-control form-control-lg" />
                                            <span asp-validation-for="Status" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>

                                @*<div class="form-outline mb-4">
                                <input type="password" id="form3Example4cdg" class="form-control form-control-lg" />
                                <label class="form-label" for="form3Example4cdg">Nhập lại mật khẩu</label>
                                </div>*@

                                <div class="form-check d-flex justify-content-center mb-5">
                                    <input class="form-check-input me-2" type="checkbox" value="false"
                                           id="form2Example3cg" />
                                    <label class="form-check-label" for="form2Example3g" style="font-size: 20px;">
                                        I agree all statements in <a href="#!" class="text-body">
                                            <u style="color: #0d6efd;">Terms of service</u>
                                        </a>
                                    </label>
                                </div>

                                <div class="d-flex justify-content-center">
                                    <input class="btn btn-outline-danger btn-lg px-5" value="Đăng ký" type="submit">
                                </div>

                                <p class="text-center text-muted mt-5 mb-0" style="font-size: 20px;">
                                    Đã có tài khoản? <a asp-controller="Account" asp-action="Login" class="text-dark-50 fw-bold">
                                        Login here
                                    </a>
                                </p>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        $(function () {
            $('#email').removeClass('hide');
            $('#email').delay(2000).slideUp(500);
        });
        $(function () {
            $('#acc').removeClass('hide');
            $('#acc').delay(2000).slideUp(500);
        });

    </script>
}
